th, td {
  padding: 0px;
}

.vocab {
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  height: 10em;
  background-color: #cbb0de;
  color: white;
  font-size: 120px;
  font-family: Arial;
  text-align: center;
}

#definition {
  font-size: 60px;
}

